snippet ep "Evaluate Ruby code and print" !w
<%= $0 %>
endsnippet

snippet er "Evaluate Ruby code" !w
<% $0 %>
endsnippet

snippet yield "yield" !w
<%= yield $0%>
endsnippet

# Rails Snippets
snippet lt "link_to" !w
<%= link_to $0 %>
endsnippet
