snippet imp "import" b
import ${1:module}
endsnippet


snippet ia "import as" b
import ${1:module} as ${2:alias}
endsnippet


snippet fs "from ... import *" b
from ${1:module} import *
endsnippet


snippet fi "from ... import ..." b
from ${1:module} import ${2:name}
endsnippet


snippet fia "from ... import ... as" b
from ${1:module} import ${2:name} as ${3:alias}
endsnippet
